{% extends 'base.html' %}

{% block content %}


    
<title>음식 상세 정보</title>
<!-- 부트스트랩 CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .card {
        max-width: 450px;
        margin: 0 auto;
    }
    .card img {
        max-width: 100%;
        height: auto;
    }

    .food_image img{
        max-width: 450px;
        height: auto;
    }
</style>


    
<div class="container mt-5">
    <div class = "row justify-content-center">
        <div class = "col-md-6 mt-5 text-center">
            <div class = "food_image">
                <img src="{{ object.image_url }}" class="img-fluid rounded" alt="{{object.name}}">
            </div>
        </div>
        <div class = "col-md-6">
            <!-- 음식정보 -->
            <div class = "card mt-5">
                <div class = "card-body">
                    <h3 class="card-title text-center mb-4"><strong>{{object.name}}</strong></h3>
                    <div class = "mb-3">
                        <h5 class = "card-subtitle mb-2"><strong>가격 : {{object.price}}</strong></h5>
                        <p class = "card-text">{{object.description}}</p>
                        <hr>
                    </div>
                    <div>
                        <input type="hidden" id="csrfToken" value="{{csrf_token}}">
                        <button type="button" class = "btn btn-outline-secondary" onclick="modifyCartAmount({{object.id}}, 1)"><i class = "bi bi-arrow-up"></i></button>
                        <button type ="button" class = "btn btn-light border-0">현재수량<span class = 'badge bg-secondary'><span id = 'currentQuantity'></span></button>
                        <button type="button" class = "btn btn-outline-secondary"onclick="modifyCartAmount({{object.id}}, -1)"><i class = "bi bi-arrow-down"></i></button>
                    </div>

                    <div class = "mt-2">
                        <span class="badge bg-dark">총 가격</span>
                        <h2><span id = "totalprice" data-price = "{{ object.price }}"></span></h2>
                    </div>
                    <div>
                        <form action = "" method = "post">
                        {% csrf_token %}
                            <button type = "submit" class = "btn btn-outline-primary">장바구니 담기</button>

                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 부트스트랩 자바스크립트 CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function getCsrfToken(){
    return document.getElementById('csrfToken').value;
    }
    function modifyCartAmount(food_id, change){
        var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "order:modify_cart" %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', getCsrfToken());

            xhr.onload = function() {
                if (this.status === 200) {
                    var response = JSON.parse(this.responseText);
                    document.getElementById('currentQuantity').textContent = response.newQuantity;
                    //document.getElementById('totalQuantity').textContent = response.totalQuantity;

                    var currentQuantity = response.newQuantity;
                    var totalPriceUnit = document.getElementById('totalprice');
                    var pricePerUnit = parseFloat(totalPriceUnit.getAttribute('data-price'));
                    var totalPrice = currentQuantity * pricePerUnit;
                    totalPriceUnit.textContent = totalPrice;

                    console.log(totalPrice)

                    console.log('Update successful:', response.message);
                } else {
                    console.error('Error updating:', this.statusText);
                }
            };
            xhr.send(`foodId=${food_id}&amountChange=${change}`);
    }
</script>


{% endblock %}